/*--------------------------------------------------*/
/* Default CSS style for G'MIC Markdown documents   */
/*--------------------------------------------------*/

.gmd_section {
    color: #607090;
    font-size: 2em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 110%;
}

.gmd_subsection {
    font-size: 1.75em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    line-height: 100%;
}

.gmd_subsubsection {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 100%;
}

.gmd_subsubsubsection {
    font-size: 1.25em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    line-height: 100%;
}

.gmd_bullet {
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 0.75em;
}

.gmd_subbullet {
    display: list-item;
    list-style-position: outside;
    list-style-type: circle;
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.gmd_subsubbullet {
    display: list-item;
    list-style-position: outside;
    list-style-type: square;
    margin-left: 5em;
    margin-bottom: 0.25em;
}

.gmd_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gmd_right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

.gmd_table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    word-break: normal;
}
.gmd_htable, .gmd_vtable {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    word-break: normal;
}
.gmd_hvtable {
    border: 1px solid black;
    border-collapse: collapse;
    word-break: normal;
}
.gmd_table tr td {
    padding: 8px;
    vertical-align: top;
}
.gmd_htable tr td {
    border-left : 1px solid black;
    border-right : 1px solid black;
    padding: 8px;
    vertical-align: top;
}
.gmd_vtable tr td {
    border-top : 1px solid black;
    border-bottom : 1px solid black;
    padding: 8px;
    vertical-align: top;
}
.gmd_hvtable tr td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
}
.gmd_table .gmd_image, .gmd_htable .gmd_image, .gmd_vtable .gmd_image, .gmd_hvtable .gmd_image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.gmd_center .gmd_table, .gmd_center .gmd_htable, .gmd_center .gmd_vtable, .gmd_center .gmd_hvtable {
    margin-left: auto;
    margin-right: auto;
}

.gmd_table tr td, .gmd_htable tr td, gmd_vtable tr td, gmd_hvtable tr td {
    vertical-align: top;
}

.gmd_bold_italic_a {
    font-weight: bold;
    font-style: italic;
    color: #ca5319;
}

.gmd_bold_italic_u {
    font-weight: bold;
    font-style: italic;
}

.gmd_bold_a {
    font-weight: bold;
    color: #ca5319;
}

.gmd_bold_u {
    font-weight: bold;
}

.gmd_italic_a {
    font-style: italic;
    color: #ca5319;
}

.gmd_italic_u {
    font-style: italic;
}

.gmd_strikethrough {
    text-decoration: line-through;
}

.gmd_underline {
    text-decoration: underline;
}

.gmd_monospace {
    background-color: #eaeaf0;
    color: #244a63;
    border: 1px solid #c0c0c0;
    font-family: monospace;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.gmd_value_set {
    color: #448a93;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
}

.gmd_word_highlight {
    background-color: #f7f7f9;
    color: #aa3300;
    border: 1px solid #e1e1e8;
    font-family: monospace;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gmd_blockquote {
    background-color: #dfdbff;
    margin-left: 32px;
    border: 1px solid #cfcbff;
    border-left: 8px solid #cfcbff;
    padding: 8px;
    width: 90%;
}

.gmd_details {
    background-color: #bbddff;
    margin-left: 32px;
    border: 1px solid #aaccee;
    border-left: 8px solid #aaccee;
    padding: 8px;
    width: 90%;
}

.gmd_details summary {
    text-align: left;
    margin-bottom: 0.25em;
    outline: none;
}

.gmd_code_block {
    text-align: left;
    background-color: #f0f0f0;
    color: #244a63;
    font-family: monospace;
    padding: 0.5em;
    margin-left: 32px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border: 1px solid #e0e0e0;
    border-left: 8px solid #d0d0d0;
    width: 90%;
}

.gmd_page_link {
    background-color: #eaeaf0;
    color: #244a63;
    border: 1px solid #c0c0c0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gmd_page_link:hover {
    color: black;
    background-color: #cde5dd;
    border: 1px solid black;
}

.gmd_image {
    max-width: 900px;
    margin-right: 0.25em;
}

.gmd_formula {
    max-width: 100%;
    margin: 2px;
    vertical-align: -11%;
}

.gmd_gmic {
    color: #ca5319;
    font-weight: bold;
}

/* End of file */
