/*--------------------------------------*/
/* Define style for the G'MIC website   */
/*--------------------------------------*/

/* Global look. */

body {
    width: 1024px;
    color: #222222;
    background-color: #707090;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.35em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

code, pre {
    background-color: #dddddd;
    padding: 5px;
}

a:hover {
  color: #707090;
}

hr {
    height: 1px;
    border: 0;
    color: black;
    background-color: black;
}

/* G'MIC markdown. */

.gmd_section {
    color: #607090;
    font-size: 2em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

.gmd_subsection {
    font-size: 1.75em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.gmd_subsubsection {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.gmd_subsubsubsection {
    font-size: 1.25em;
    font-weight: bold;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.gmd_bullet {
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 0.75em;
}

.gmd_subbullet {
    display: list-item;
    list-style-position: outside;
    list-style-type: circle;
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.gmd_subsubbullet {
    display: list-item;
    list-style-position: outside;
    list-style-type: square;
    margin-left: 5em;
    margin-bottom: 0.25em;
}

.gmd_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gmd_right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

.gmd_table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
.gmd_htable, .gmd_vtable {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
.gmd_hvtable {
    border: 1px solid black;
    border-collapse: collapse;
}
.gmd_table tr td {
    padding: 8px;
    vertical-align: top;
}
.gmd_htable tr td {
    border-left : 1px solid black;
    border-right : 1px solid black;
    padding: 8px;
    vertical-align: top;
}
.gmd_vtable tr td {
    border-top : 1px solid black;
    border-bottom : 1px solid black;
    padding: 8px;
    vertical-align: top;
}
.gmd_hvtable tr td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
}
.gmd_table .gmd_image, .gmd_htable .gmd_image, .gmd_vtable .gmd_image, .gmd_hvtable .gmd_image {
    display: block;
    margin: auto;
}

.gmd_center .gmd_table, .gmd_center .gmd_htable, .gmd_center .gmd_vtable, .gmd_center .gmd_hvtable {
    margin-left: auto;
    margin-right: auto;
}

.gmd_table tr td, .gmd_htable tr td, gmd_vtable tr td, gmd_hvtable tr td {
    vertical-align: top;
 }

.gmd_bold_italic_a {
    font-weight: bold;
    font-style: italic;
    color: #ca5319;
}

.gmd_bold_italic_u {
    font-weight: bold;
    font-style: italic;
}

.gmd_bold_a {
    font-weight: bold;
    color: #ca5319;
}

.gmd_bold_u {
    font-weight: bold;
}

.gmd_italic_a {
    font-style: italic;
    color: #ca5319;
}

.gmd_italic_u {
    font-style: italic;
}

.gmd_strikethrough {
    text-decoration: line-through;
}

.gmd_underline {
    text-decoration: underline;
}

.gmd_monospace {
    background-color: #eaeaf0;
    color: #244a63;
    border: 1px solid #c0c0c0;
    font-family: monospace;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.gmd_value_set {
    color: #448a93;
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
}

.gmd_word_highlight {
    background-color: #f7f7f9;
    color: #aa3300;
    border: 1px solid #e1e1e8;
    font-family: monospace;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gmd_blockquote {
    background-color: #ffeedd;
    margin-left: 32px;
    border: 1px solid #eeccaa;
    border-left: 8px solid #eeccaa;
    padding: 8px;
    width: 90%;
}

.gmd_details {
    background-color: #bbddff;
    margin-left: 32px;
    border: 1px solid #aaccee;
    border-left: 8px solid #aaccee;
    padding: 8px;
    width: 90%;
}

.gmd_details summary {
    text-align: left;
    margin-bottom: 0.25em;
    outline: none;
}

.gmd_code_block {
    text-align: left;
    background-color: #f0f0f0;
    color: #244a63;
    font-family: monospace;
    padding: 0.5em;
    margin-left: 32px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #e0e0e0;
    border-left: 8px solid #d0d0d0;
    width: 90%;
}

.gmd_page_link {
    background-color: #eaeaf0;
    color: #244a63;
    border: 1px solid #c0c0c0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.gmd_page_link:hover {
    color: black;
    background-color: #cde5dd;
    border: 1px solid black;
}

.gmd_image {
    max-width: 900px;
    margin-right: 0.25em;
}

.gmd_formula {
    max-width: 100%;
    margin: 2px;
    vertical-align: -11%;
}

.gmd_gmic {
    color: #ca5319;
    font-weight: bold;
}

/* Classes used by the 'Reference Documentation' pages */

.ref_h1 {
    color: #607090;
    font-family: Comfortaa, Verdana, Geneva, sans-serif;
    padding-bottom: 0.5em;
}

.ref_h1_builtin {
    width: 100%;
}

.ref_h1_builtin tr td:nth-child(1) {
    text-align: left;
    padding: 0;
}

.ref_h1_builtin tr td:nth-child(2) {
    text-align: right;
    padding: 0;
}

.ref_navigation_top {
    font-size: smaller;
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

.ref_navigation_top tr td:nth-child(1) {
    text-align: left;
    padding: 0;
}

.ref_navigation_top tr td:nth-child(2) {
    text-align: right;
    padding: 0;
}

.ref_navigation_bottom {
    text-align: center;
    display: block;
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid black;
}

.ref_header {
    margin-left: 2em;
}

.ref_table_category, .ref_table_shortcuts {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.ref_table_category tr td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    word-wrap: break-word;
    max-width: 150px;
    min-width: 150px;
}

.ref_table_category a:hover {
    font-weight: bold;
}

.ref_table_shortcuts a:hover {
    font-weight: bold;
}

.ref_table_category tr:nth-child(even) {
    background: #dddddd;
}

.ref_table_shortcuts tr:nth-child(odd) {
    background: #dddddd;
}

.ref_table_shortcuts tr td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
    word-wrap: break-word;
    max-width: 250px;
    min-width: 250px;
}

.ref_table_category a, .ref_table_shortcuts a {
    font-weight: normal;
}

.ref_loc {
    color: #ca5319;
    font-weight: bold;
}

.ref_table_shortcuts .gmd_monobold:hover, .ref_table_category .gmd_monobold:hover {
    background-color: papayawhip;
    border: 1px solid black;
    padding: 0.25em;
}

.ref_builtin_command {
    color: #607090;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid;
}

.ref_tutorial_button {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
}

.ref_tutorial_button a {
    background-color: #ca5319;
    color: white;
    border: 1px solid black;
    padding: 3px;
}

.ref_tutorial_button a:hover {
    background-color: #ea7339;
}

/* Classes used by the 'Color Presets' pages */

.colorpresets_disclaimer {
    font-style: italic;
    font-size: smaller;
}

.colorpresets_table {
    margin-left: auto;
    margin-right: auto;
}

.colorpresets_table tr td {
    text-align: center;
}

/* Classes used by the 'Image Gallery' pages */

.gallery_navigation {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing : 0;
    border-collapse : collapse;
    font-size: smaller;
}

.gallery_navigation tr td {
    border: 1px solid black;
    padding: 5px;
}

.gallery_navigation tr td:hover {
    background-color: #aaaacc;
}

.gallery_navigation tr td a:hover {
    color: white;
}

.gallery_table {
    margin-left: auto;
    margin-right: auto;
}

.gallery_table tr td {
    text-align: center;
}

.gallery_caption {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin: 0;
}

/* Other convenient classes */
.smaller {
    font-size: smaller;
}

.hr_small {
    width: 80%;
    height: 1px;
    border: 0;
    color: #aaaaaa;
    background-color: #aaaaaa;
}

.p_more {
    text-align: right;
    font-style: italic;
    font-size: smaller;
    margin: 0;
}

.p_donate {
    font-size: smaller;
    margin-left: 30px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 1000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 15px;
}

.header h1 {
    color: #aaaaaa;
    text-align: center;
    font-weight: normal;
    font-size: 115%;
    margin-top: 0;
}

.header h2 {
    font-size: smaller;
    color:#888888;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

.header hr {
    color:#888888;
    background-color: #888888;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header_instit {
    position: absolute;
    top: 110px;
    right: 32px;
}

.section_title {
    width: 1000px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_top.png");
}

.section_title p {
    position: relative;
    left: 25px;
    top: 12px;
    color: #708090;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
}

.section_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-image: url("img/section_middle.png");
    word-wrap: break-word;
}

.section_end {
    width: 1000px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_bottom.png");
}

.bloc_start {
    width: 1000px;
    min-height: 7px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_bottom_mirrored.png");
}

.bloc_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-image: url("img/section_middle.png");
}

.bloc_end {
    width: 1000px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/section_bottom.png");
}

.table_left tr td {
    vertical-align: top;
    padding-right: 20px;
}

.table_content {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}

.table_content tr td {
    padding-right: 15px;
    vertical-align: middle;
}

.table_content tr td form:hover {
    background-color: #abd5cd;
}

.table_download {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border-collapse: collapse;
}

.table_download tr:first-child {
    background-color: #abd5cd;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.table_download tr:first-child td:first-child {
    width: 64px;
}

.table_download tr td {
    vertical-align: middle;
    padding: 0.5em;
}

.table_download h1 {
    font-size: 115%;
    margin-top: 0;
}

.table_download li {
    padding: 0.2em;
    line-height: 1.5em;
}

.table_download tr td pre a {
    background-color: unset;
    color: unset;
    border: unset;
}

.latestdev {
    opacity: 0.5;
    font-size: x-small;
}

.arch {
    font-weight: bold;
    color: #446aa3;
}

.donation_link, .table_download li a {
    background-color: #dcdcef;
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2px;
}

.donation_link:hover, .table_download li a:hover {
  background-color: #efefff;
}

.warning {
    color: indianred;

}

.gmic_button_large {
    width: 200px;
}

.gmic_button_large a img {
    width: 198px;
}

.gmic_button_large a img:hover {
    width: 205px;
}

.gmic_button_large a img:active {
    width: 190px;
}

.gmic_button_small {
    width: 200px;
}

.gmic_button_small a img {
    width: 60px;
}

.gmic_button_small a img:hover {
    width: 64px;
}

.gmic_button_small a img:active {
    width: 55px;
}

/* Main navigation bar */

#cssmenu {
    text-align: center;
    background-color: #dddddd;
}

#cssmenu > ul,
#cssmenu > ul li,
#cssmenu > ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu > ul {
    position: relative;
    z-index: 597;
}
#cssmenu > ul li {
    float: left;
    min-height: 1px;
    vertical-align: middle;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#cssmenu > ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}
#cssmenu > ul ul li {
    float: none;
}
#cssmenu > ul ul ul {
    top: 1px;
    left: 99%;
}
#cssmenu > ul li:hover > ul {
    visibility: visible;
}
/* Align last drop down RTL */
#cssmenu > ul > li.last ul ul {
    left: auto !important;
    right: 99%;
}
#cssmenu > ul > li.last ul {
    left: auto;
    right: 0;
}
#cssmenu > ul > li.last {
    text-align: right;
}
/* Theme Styles */
#cssmenu > ul {
    font-family: Calibri, Tahoma, Arial, sans-serif;
    font-size: 14px;
    background: #dddddd;
    width: auto;
    zoom: 1;
    display: inline-block;
}
#cssmenu > ul:before {
    content: '';
    display: block;
}
#cssmenu > ul:after {
    content: '';
    display: table;
    clear: both;
}
#cssmenu > ul li a {
    display: inline-block;
    padding: 4px 12px;
}

#cssmenu ul li a img {
    vertical-align: -20%;
}

#cssmenu > ul > li.active,
#cssmenu > ul > li.active:hover {
    background-color: #a0a0c0;
}
#cssmenu > ul > li > a:link,
#cssmenu > ul > li > a:active,
#cssmenu > ul > li > a:visited {
    color: black;
}
#cssmenu > ul > li > a:hover {
    color: black;
}
#cssmenu > ul ul ul {
    top: 0;
}
#cssmenu > ul li li {
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    text-align: left;
}
#cssmenu > ul li.hover,
#cssmenu > ul li:hover {
    background-color: #f5f5f5;
}
#cssmenu > ul > li.hover,
#cssmenu > ul > li:hover {
    background-color: #a0a0c0;
}
#cssmenu > ul a:link,
#cssmenu > ul a:visited {
    color: #9a9a9a;
    text-decoration: none;
}
#cssmenu > ul a:hover {
    color: #9a9a9a;
}
#cssmenu > ul a:active {
    color: #9a9a9a;
}
#cssmenu > ul ul {
    border: 1px solid #CCC \9;
    width: 250px;
}
